<%- include('../../partials/header.ejs')%>
        <body>
            <%- include('../../partials/navbar.ejs')%>
                <div class="container">
                    <div class="card" id='form'>
                        <div class="card-header">
                            <h1>Edição do artigo</h1>
                        </div>
                        <div class="card-body">
                      <form method="POST" action = '/admin/articles/update'>
                          <input type="hidden" name='id' value='<%= articles.id%>'>
                          <input class='form-control' type="text" name="title" value="<%= articles.title%>">
                          <br>
                          <textarea class="form-control" name='bodyText' value='<%= articles.body%>' id='article'><%= articles.body%></textarea>
                          <br> 
                          <label>Categoria:</label>
                          <select class="form-control"  name ='category'>
                          <% categories.forEach(category=> { %>    
                            <% if(category.id == articles.categoryId){%>
                            <option value="<%= category.id%>"selected> <%= category.title%></option>
                            <% }else{ %>
                            <option value="<%= category.id%>"> <%= category.title%></option>
                             <%}%>
                            <% })%>
                          </select></br>

                          <button class="corBotao ">Atualizar</button>
                      </form>
                    </div>
                    </div>
                </div>
        </body>
        <%- include('../../partials/footer.ejs')%>
<script src="/tinymce/tinymce.min.js" ></script>
<script> //configurações avançadas para formatação de texto 
    tinymce.init({
        language: 'pt_BR',
        selector: '#article',//id do local onde está o textarea
        plugins:[
            'advlist autolink image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>

