<%- include('../../partials/header.ejs')%>
        <body>
            <%- include('../../partials/navbar.ejs')%>
                <div class="container">
                    <div class="card" id='form'>
                        <div class="card-header">
                            <h1>Articles </h1>
                        </div>
                        <div class="card-body">
                            <a class='btn btn-success' href="/admin/articles/new">Criar novo artigo</a>
                            <hr>

                            <table class=" table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Título</th>
                                        <th>Slug</th>
                                        <th>Categoria</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% articles.forEach(article => {%>
                                    <tr>
                                        <th><%= article.id%></th>
                                        <th><%= article.title%></th>
                                        <th><%= article.slug%></th>
                                        <th><%= article.categoryId%></th>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </body>
        <%- include('../../partials/footer.ejs')%>
        <script>
            function confirmDelete(event, form){
                event.preventDefault();//impede o formulária de ser enviado 
                var choice = confirm('Deletar categoria ?');
                if (choice){
                    console.log('apagar');
                    form.submit();
                }
            }
        </script>