<%- include('../../partials/header.ejs')%>
        <body>
            <%- include('../../partials/navbar.ejs')%>
                <div class="container">
                    <div class="card" id='form'>
                        <div class="card-header">
                            <h1>Escrever artigo </h1>
                        </div>
                        <div class="card-body">
                      <form method="POST" action = '/articles/save'>
                          <input class='form-control' type="text" name="titleArticle" placeholder="Digite o título do seu artigo">
                          <br>
                          <textarea class="form-control" placeholder="Escreva o seu artigo aqui!" name='textArticle' id='article'></textarea>
                          <br>
                          <label>Categoria</label><!-- mostra ao usuário as categorias já cadastradas -->
                          <select name ='category' class="form-control">
                            <% categories.forEach(category=> { %>    
                                <option value="<%= category.title%>" name='<%= category.id%>'>
                                    <%= category.title%></option>
                            <% })%>
                          </select></br>
                          <button class="corBotao ">Cadastrar</button>
                        </form>
                    </div>
                    </div>
                </div>
        </body>
<%- include('../../partials/footer.ejs')%>
<script src="/tinymce/tinymce.min.js" ></script>
<script> //configurações avançadas para formatação de texto 
    tinymce.init({
        language: 'pt_BR',
        selector: '#article',//id do local onde está o textarea
        plugins:[
            'advlist autolink image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>