<%- include('../../partials/header.ejs')%>

        <body>
            <%- include('../../partials/homenavbar.ejs')%>
       
                <div class="container">
                   <% result.articles.rows.forEach(article => {%>
                    <div class="card" id='form'>
                        <div class="card-header">
                            <h3><%= article.title%></h3>
                        </div>
                        <div class="card-body">
                            <a href="/<%= article.slug%>" class="corBotao" role="button">Ler artigo </a>
                        </div>
                    </div>
                    <%})%>
                    <div class="row">
                        <div class="col col-12">
                            <br>
                          <% if(result.page > 2 ) {%>
                                <a style="float: left" class="CorBrancaTX" href="/articles/page/<%= result.page -1%>"><<< Prev</a>
                            <%} else if(result.page == 2) {%>
                                <a style="float: left" class="CorBrancaTX" href="/"><<< Prev</a>
                                <%}%>
                            <% if(result.next == true) {%>
                                <a style="float: right" class="CorBrancaTX" href="/articles/page/<%= result.page +1%>">Next >>></a>
                            <%}%>
                        </div>
                    </div>
                </div>
        </body>
        <%- include('../../partials/footer.ejs')%>