<%- include('../../partials/header.ejs')%>
    <! --Para incluir partes de outro documento(usando quando a parte externa e reutilizada em outros códigos) -->

        <body>
            <%- include('../../partials/navbar.ejs')%>
                <div class="container">
                    <div class="card" id='form'>
                        <div class="card-header">
                            <h1>Categories </h1>
                        </div>
                        <div class="card-body">
                            <a class='btn btn-success' href="/admin/categories/new">Criar nova categoria</a>
                            <hr>
                            
                            <table class=" table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Título</th>
                                        <th>Slug</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <% categories.forEach(category => { %>
                                        <tr>
                                            <th><%= category.id%></th>
                                        <th><%= category.title%></th>
                                        <th><%= category.slug%></th>
                                        <th>
                                            <button class="btn btn-warning">Editar</button>
                                     <form method="POST" action="/categories/delete" style="display:inline">
                                        <input type='hidden' name='id' value='<%= category.id%>'>
                                        <button class="btn btn-danger">Deletar</button>
                                        </form>
                                        </th>
                                        
                                    </tr>

                                        <% })%>
                                </tbody>
                            </table>
                    </div>
                    </div>
                </div>
        </body>
        <%- include('../../partials/footer.ejs')%>