<%- include('partials/header.ejs')%>
        <body>
            <%- include('partials/homenavbar.ejs')%>
       
                <div class="container">
                   <% articles.forEach(article => {%>
                    <div class="card" id='form'>
                        <div class="card-header">
                            <h3><%= article.title%></h3>
                        </div>
                        <div class="card-body">
                            <a href="/<%= article.slug%>" class="corBotao" role="button">Ler artigo </a>
                        </div>
                    </div>
                    <%})%>
                    <div class="row">
                        <div class="col col-12">
                        <br>
                        <a style="float: right" class="CorBrancaTX" href="/articles/page/2">Next >>></a><br>
                        </div>
                    </div>
                </div>
        </body>
        <%- include('partials/footer.ejs')%>